<div class="jumbotron">
  <div id="container"> 
    <h1>Featured Articles:</h1>
    <p>A curated list of daily articles from a variety of groups.</p>
    <p><a class="btn btn-primary btn-lg" href="" role="button">More Articles</a></p>
  </div>
</div>
  <div id="container"> 
    <div class="row">
      <% @articles.each do |article| %>
          <div class="col-md-4">
            <h2 class="article-title"><%= article.title %>
            <p class="max-lines"><%= article.body %></p>
            <a class="btn btn-default" href="#" role="button">View full article</a>
            <a></a>
          </div> 
      <% end %>
    </div>
  </div>



