
<h1 class="wiki">Wiki-Ly</h1>
<h5 class="wiki-desc">The best wiki generator on the web!</h5>

<div class="jumbotron">
  <div id="container"> 
    <h1>Featured Articles:</h1>
    <p class="feature-desc">A curated list of daily articles from a variety of wikis.</p>
    <p><a class="btn btn-primary btn-lg" href="" role="button">More Articles</a></p>
  </div>
</div>
  <div id="container"> 
    <div class="row">
      <% @articles.each do |article| %>
          <div class="col-md-4">
            <h2 class="article-title"><%= article.title %>
            <p class="max-lines"><%= article.body %></p>
            <%= button_to "Full Article",
              group_article_path(article.group, article),
              method: :get, class: "btn btn-default" %>
            <a></a>
          </div> 
      <% end %>
    </div>
  </div>



