.title-and-bookmark div {
  margin-top: 30px;
  display: inline-block;
}

.bookmark-container {
  padding-left: 5px;
}

.title-and-bookmark h2 {
  font-size: 3em;
}

.article-body {
  width: 650px;
}

#article-author {
  font-style: italic;
}


// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


