// Place all the styles related to the Tags controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

span {
  display: inline-block;
}

#article-show-tags-container {
  width: 280px;
  padding: 10px;
  float: right;
  position: relative;
}


#new-tag-form {
padding-left: 6px;
}

.all-tags {
  width: 250px;
  margin: 2px;
  padding: 1px;
}

.article-show-tag {
  border: 1px solid #C0C0C0 ;
  font-size: 13px;
  margin: 1px;
   margin-top: 3px;
  padding: 2px;
  padding-left: 4px;
  padding-right: 4px;
  color: #428BCA;
  border-radius: 5px;
}

#tag-form-field {
  width: 150px;
  display: inline-block;

}

